@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

/* root elements we r giving color */
:root {
  --primary-red-color: #ff385a;
  --secondary-color: #e00b41;
  --brown-and-red-color: #92174d;
  --base-color: #efefef;
  --base-white-color: #ffffff;
  --base-grey-color: #eee;
  --base-black-color: #111;
}
/* custom fonts */
@font-face {
  font-family: "Helvetica Neue";
  src: url(./fonts/Helvetica-Neue-Font/Helvetica-Neue-Font/Helvetica\ Neue\ W01\ 66\ Medium\ It/Helvetica-Neue-Font);
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: Circular -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", sans-serif;
  font-family: "Roboto", sans-serif;
}
/* topNav bar starts here */

#topnavbar {
  border: 1px solid var(--base-grey-color);
  height: 60px;
  background-color: var(--base-grey-color);
}

#topnavbar > article {
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 1.1px;
  color: var(--base-black-color);
}

#topnavbar > article a {
  color: var(--base-black-color);
  text-decoration: none;
  border-bottom: 2px solid var(--base-black-color);
}

/* top navbar end here */

/* navbar section css starts here*/

#navbar_section {
  position: sticky;
  top: 0px;
  height: 80px;
  background-color: white;
  border-bottom: 1px solid var(--base-grey-color);
  border-top: 1px solid var(--base-grey-color);
  z-index: 1;
}

#navbar_section .container {
  display: flex;
  width: 90%;
  margin: 0 auto;
  height: inherit;
  align-items: center;
  /* justify-content: space-between; */
  gap: 4%;
}
#navbar_section .container .flexitems {
  flex-basis: 32%;
}

#navbar_section .container .logo svg {
  color: var(--primary-red-color);
}

.search_container {
  display: flex;
  cursor: pointer;
  height: 45px;
  width: 80%;
  align-items: center;
  border-radius: 30px;
  border: 2px solid var(--base-grey-color);
  box-shadow: 4px 0px 3px 0px #eee;
  margin-left: 40px;
}

.search_container .items:nth-child(1) {
  flex-basis: 30%;
  border-right: 2px solid var(--base-grey-color);
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
}

.search_container .items:nth-child(2) {
  flex-basis: 30%;
  border-right: 2px solid var(--base-grey-color);
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
}
.search_container .items:nth-child(3) {
  flex-basis: 40%;
  border-right: 1px solid var(--base-grey-color);
  color: #c5c5c5;
}
.search_container .items {
  display: flex;
  justify-content: center;
  position: relative;
}
.icon {
  position: absolute;
  top: -5px;
  right: 5px;
  background-color: #e00b41;
  border-radius: 100%;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
}
.textblock {
  margin-right: 40px;
}

#navbar_section .container .menu {
  display: flex;
  justify-content: flex-end;
}
.menu {
  display: flex;
  justify-content: flex-end;
}
.menu > nav > ul {
  list-style: none;
  display: flex;
  gap: 14px;
}
.menu > nav > ul > li > a {
  text-decoration: none;
  padding: 10px 8px;
  height: auto;
  display: block;
  border-radius: 15px;
  font-weight: 500;
  color: var(--base-black-color);
  text-transform: capitalize;
}
.menu > nav > ul > li a:hover {
  background: #efefef;
}
.menu > nav > ul > li:last-child > a {
  height: 40px;
  width: 75px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
  top: 0;
  left: 0;
  border-radius: 20px;
}
.menu > nav > ul > li:last-child a > div.icons {
  height: 40px;
  width: 75px;
  border: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: absolute;
  border-radius: 66px;
}
.menu > nav > ul > li:last-child a div.icons .users {
  background-color: #555;
  color: #ffffff;
  width: 25px;
  height: 25px;
  text-align: center;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu > nav > ul > li {
  position: relative;
}
.dropDownMenu {
  background-color: #fff;
  box-shadow: 1px 2px 6px 1px #ccc;
  width: 250px;
  height: auto;
  padding: 10px 10px 5px 10px;
  position: absolute;
  top: 52px;
  right: 0px;
  border-radius: 10px;
  /* z-index: 100; */
  visibility: hidden;
  /* display: none; */
}
.dropDownMenu ul {
  list-style: none;
}
.dropDownMenu ul li a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #444;
  font-weight: 500;
  font: 14px;
}
.dropDownMenu:first-child a {
  display: none;
}
.dropDownMenu span.hr {
  border: 1px solid #eee;
  display: block;
}
.dropDownMenu .active {
  font-weight: 600;
}
/* .dropDownMenu ul li a:hover {
  background-color: #efefef;
} */
/* .menu > nav > ul > li a:hover ~ .dropDownMenu {
  visibility: visible;
  display: block;
  z-index: 10;
} */

#bar4 {
  padding: 10px;
  border-radius: 20px;
  font-size: large;
  border: 1px solid #eee;
}
/* rollbar section */

.sec3 {
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  /* position: fixed;
  top: 80px; */
  background-color: var(--base-white-color);
  border-bottom: 2px solid var(--base-grey-color);
  z-index: 1;
}
.sec3 .container3 {
  width: 96%;
  height: 48px;
  display: flex;
  justify-content: space-between;
  margin-top: 37px;
}
.sec3 .container3 div {
  height: inherit;
  width: 9%;
}
.sec3 .container3 div a {
  height: inherit;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  color: #717171;
  filter: contrast(10%);
}
.sec3 .container3 div a:hover {
  filter: contrast(150%);
  transition-duration: 0.8s;
  border-bottom: 1px solid var(--base-grey-color);
}
.sec3 .container3 div a img {
  width: 24px;
  height: 24px;
  opacity: 50%;
}
.sec3 .container3 div a span {
  font-size: 12px;
  font-weight: bold;
}

/* nav section css ends here  */
/* mainpage starts here */

.maincon {
  display: flex;
  height: 60vh;
  width: 100%;
  margin-top: 15px;
  justify-content: space-evenly;
  align-items: center;
}
.maincon .image1 {
  height: 40vh;
  width: 320px;
  border-radius: 10px;
}
.maincon p {
  padding: 6px;
  font-weight: 100;
}
.maincon h3 {
  padding: 10px;
}
figure {
  position: relative;
}
figure i {
  position: absolute;
  top: 25px;
  right: 20px;
  font-size: 25px;
  color: var(--base-white-color);
}
header {
  display: flex;
  justify-content: space-between;
  padding-top: 15px;
}
/* mainpage ends here */
/* footer block starts here */
.footercontainer {
  height: 40px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  background-color: var(--base-white-color);
}
.footerblock {
  height: 40px;
  display: flex;
  width: 93%;
  justify-content: space-between;
  align-items: center;
}
.footerblock .div1 {
  display: flex;
  list-style: none;
}
.footerblock .div2 {
  display: flex;
  list-style: none;
}
.footerblock .div1 li {
  justify-content: space-around;
  padding: 5px;
}
.footerblock .div1 li a {
  color: #717171;
  text-decoration: none;
}
.footerblock .div2 li {
  justify-content: space-around;
  padding: 14px;
}
.footerblock .div2 li a {
  color: #222222;
  text-decoration: none;
}
.footerblock .div1 li a:hover {
  border-bottom: 1px solid #717171;
}
.footerblock .div2 li a:hover {
  border-bottom: 1px solid #717171;
}

/* footer block end here */
/* .animationBlock {
  position: relative;
} */
.search_container {
  position: relative;
}

.animationblock {
  background-color: #fff;
  /* border: 2px solid black; */
  width: 10px;
  height: 10px;
  position: relative;
  top: 50px;
  overflow: hidden;
  transition: 0.3s;
}
.animation {
  margin-right: 200px;
  width: 100%;
}
.anima1 {
  display: flex;
  /* border: 2px solid green; */
  height: 50px;
  width: 30%;
  border-radius: 20px;
  margin-left: 35%;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  justify-content: space-around;
  background-color: var(--base-white-color);
}
.anima1 div a {
  text-decoration: none;
}
.anima1 div a:hover {
  border-bottom: 2px solid var(--base-black-color);
}
.amima2 {
  display: flex;
  /* border: 2px solid green; */
  height: 70px;
  width: 55%;
  justify-content: center;
  cursor: pointer;
  margin-left: 23%;
  align-items: center;
  border-radius: 30px;
  justify-content: space-around;
  background-color: var(--base-white-color);
  border-radius: 30px;
  box-shadow: 1px 1px 2px 2px var(--base-grey-color);
}
.maginfy {
  background-color: var(--secondary-color);
  /* padding: 15px; */
  height: 50px;
  width: 100px;
  display: flex;
  justify-content: space-evenly;
  border-radius: 30px;
  align-items: center;
  justify-content: center;
  column-gap: 15px;
  color: var(--base-white-color);
  /* border: 2px solid black; */
}
#anynav {
  width: 100%;
  background-color: #92174d;
  height: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 80px;
}
